.c-service__bg {
	@apply absolute pin w-screen;

	height: 500vh;
	top: -50vh;
}

.c-service__border {
	@apply bg-white h-px w-full block opacity-0;

	transform: scale(0, 1);
	transition: transform 400ms ease-out 150ms, opacity 400ms linear 150ms;
	transform-origin: left center;

	[data-scroll='in'] &,
	.no-js & {
		transform: scale(1, 1);
		opacity: 1;
	}
}

.c-service__title {
	transition: opacity 400ms 200ms;

	@screen lg {
		@apply opacity-0;
	}

	&[data-scroll='in'],
	.no-js & {
		@apply opacity-100;
	}
}

.c-service__text {
	opacity: 0;
	transition: opacity 500ms ease-out 500ms;

	[data-scroll='in'] &,
	.no-js & {
		opacity: 1;
	}
}

.c-service__logo {
	opacity: 0;
	transition: opacity 500ms ease-out 1000ms;

	[data-scroll='in'] &,
	.no-js & {
		opacity: 1;
	}
}
