.o-link-anim span {
	@apply inline-block relative;
}

.o-link-anim:hover span::after {
	opacity: 1;
	transform: scale(1, 1);
	transform-origin: left center;
	transition: opacity 300ms, transform 300ms ease-in-out;
}

.o-link-anim span::after {
	@apply absolute hidden w-full h-px pin-l;

	content: '';
	transform: scale(0, 1);
	background-color: inherit;
	bottom: -5px;
	opacity: 0;
	transform-origin: right center;
	transition: opacity 200ms 100ms, transform 300ms ease-in-out;

	@screen md {
		@apply block;
	}
}
