[data-animate='fadeIn'] {
	opacity: 0;

	&.is-animated {
		animation: fadeIn 500ms forwards;
	}
}

[data-animate='fadeOut'] {
	opacity: 1;

	&.is-animated {
		animation: fadeOut 500ms forwards;
	}
}

@keyframes fadeOut {
	100% {
		opacity: 0;
	}
}

@keyframes fadeIn {
	100% {
		opacity: 1;
	}
}
