.header {
	will-change: transform;
}

.header__inner {
	@include calc-fluid('height', 76px, 90px);
}

.header__logo {
	@include calc-fluid('width', 250px, 280px);
}

.header__nav {
	@apply bg-white;

	transform: translate3d(100%, 0, 0);
	transition: transform 200ms, opacity 200ms;

	@screen md {
		transform: translate3d(0, 0, 0);
		background: transparent;
	}
}

.header__nav.is-animating.is-visible {
	transform: translate3d(0, 0, 0);
	opacity: 1;
	transition: transform 200ms, opacity 200ms;
}

.header__nav.is-visible {
	transform: translate3d(0, 0, 0);
	opacity: 1;
}

/* Headroom classes */
.headroom {
	will-change: transform;
	transition: transform 200ms linear;
}

.headroom--pinned {
	transform: translateY(0%);
}

.headroom--unpinned {
	transform: translateY(-100%);
}
